{% extends "layout.html" %}

    {% block content %}
    <div class="container">
        <div class="border">
          <h2>{{vminfo[0]}}</h2>
          Machine Name : {{ vminfo[0] }} </br>
          IP Address : {{ vminfo[1] }} </br>
          OS Version : {{ vminfo[2] }} </br>
          HostName : {{ vminfo[3] }} </br>
          Assigned To : {{ vminfo[4] }} </br>
          Purpose : {{ vminfo[5] }} </br>
          Start Date : {{ vminfo[6] }} </br>
          End Date: {{ vminfo[7] }} </br>
        </div>
        <div class="row">
          <form action="{{ url_for('homepage.update_vmstatus', vmname = vminfo[0]) }}" method="post">
            <button type="submit" class="btn btn-primary" name="submit" value="Extend VM">Extend VM</button>
            <button type="submit" class="btn btn-danger" name="submit" value="Remove VM">Remove VM</button>
        </form>
        </div>

    </div>
    {% endblock %}
l
